body {
    margin: 0;
    padding: 20px;
    background: #f86ba6a3;
    font-family: "Love Ya Like A Sister",cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    position: relative;
    width: 600px;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    background: #faa0be;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 25px;
    color: white;


}

.reveal {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#scretchcanvas {
    position: absolute;
    inset: 0;


}

#newcard {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 20px;
    background: #ff3679;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Love Ya Like A Sister",cursive;

}

.love-ya-like-a-sister-regular {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
}
